.brands {
  background: #F0F6FB;
  padding-top: 26px;
  padding-bottom: 23px;
  @media (max-width: 1024px) {
    padding-top: 24px;
  }
  &-title {
    line-height: 21px;
    @media (max-width: 1024px) {
      font-size: 14px;
    }
  }
  &-list {
    display: flex;
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
    .icon {
      display: inline-block;
    }
    .owl {
      &-stage {
        display: flex;
        &-outer {
          width: 100%;
          overflow-x: hidden;
        }
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-dots, &-nav {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1114px) {
  .owl-item.cloned{
    display: none !important;
  }
  .owl-stage{
    transform:none !important;
    transition: none !important;
    width: auto !important;
  }
  .owl-item{
    width: auto !important;
  }
}