.brands {
  background: #F0F6FB;
  padding-top: 26px;
  padding-bottom: 23px;
  @media (max-width: 1024px) {
    padding-top: 24px;
  }
  &-title {
    line-height: 21px;
    @media (max-width: 1024px) {
      font-size: 14px;
    }
  }
  &-list {
    display: flex;
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
    .icon {
      display: inline-block;
    }
    .owl {
      &-stage {
        display: flex;
        @media (min-width: 1115px) {
          transform:none !important;
          transition: none !important;
        }
        &-outer {
          width: 100%;
          overflow-x: hidden;
        }
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 1115px) {
          &.cloned {
            display: none !important;
          }
        }
      }
      &-dots, &-nav {
        display: none;
      }
    }
  }
}

