.btn {
  display: inline-block;
  font-weight: 400;
  font-family: $roboto;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  outline: none;
  border: 1px solid transparent;
  transition: color .15s ease-in-out;
  padding: 15.5px 62px;
  line-height: 21px;
  border-radius: 32px;
  font-size: 18px;
  .icon {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    float: right;
  }
  &:focus,
  &.focus {
    outline: 0;
  }
  &:focus, &:hover {
    text-decoration: none;
  }

  &.disabled,
  &:disabled {
    opacity: .65;

  }
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;
  }
  &-lg {
    padding: 20.5px 50px;
    font-size: 20px;
    border-radius: 32px;
  }
  &-sm {
    padding: 20.5px 50px;
    font-size: 20px;
    border-radius: 32px;
  }
  &-link {
    font-weight: 400;
    color: $bg-primary;
    background-color: $bg-link;
    &:hover {
      color: #0056b3;
      text-decoration: underline;
      background-color: $bg-link-hover;
      border-color: transparent;
    }
    &.focus, &:focus {
      text-decoration: underline;
      border-color: transparent;
      box-shadow: none;
    }
    &:disabled, &.disabled {
      color: $bg-secondary;
      text-decoration: none;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active{
      color: #0056b3;
      text-decoration: underline;
    }
  }
  &-primary {
    color: $white;
    background-color: $bg-primary;
    border-color: $bg-primary;
    &:hover {
      color: $white;
      background-color: $bg-primary-hover;
      border-color: $bg-primary-active;
    }

    &:focus, &.focus {
      box-shadow: none;
    }
    &.disabled,
    &:disabled {
      color: $white;
      background-color: $bg-primary;
      border-color: $bg-primary;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: $white;
      background-color: $bg-primary-active;
      border-color: $bg-primary;
      &:focus {
        box-shadow: none;
      }
    }
    &-outline {
      color: $bg-primary;
      background-color: $white;
      border-color: $bg-primary;
      &:hover {
        color: $bg-primary;
        background-color: $white;
        border-color: $bg-primary-active;
      }

      &:focus, &.focus {
        box-shadow: none;
      }
      &.disabled,
      &:disabled {
        color: $bg-primary;
        background-color: $white;
        border-color: $bg-primary;
      }
      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active {
        color: $bg-primary;
        background-color:  $white;
        border-color: $bg-primary;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  &-secondary {
    color: $white;
    background-color: $bg-secondary;
    border-color: $bg-secondary;
    &:hover {
      color: $white;
      background-color: $bg-secondary-hover;
      border-color: $bg-secondary-active;
    }

    &:focus, &.focus {
      box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
    }
    &.disabled,
    &:disabled {
      color: $white;
      background-color: $bg-secondary;
      border-color: $bg-secondary;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: $white;
      background-color: $bg-secondary-active;
      border-color: #4e555b;
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
      }
    }
  }
  &-success {
    color: $white;
    background-color: $bg-success;
    border-color: $bg-success;
    &:hover {
      color: $white;
      background-color: $bg-success-hover;
      border-color: $bg-success-active;
    }

    &:focus, &.focus {
      box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
    }
    &.disabled,
    &:disabled {
      color: $white;
      background-color: $bg-success;
      border-color: $bg-success;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: $white;
      background-color: $bg-success-active;
      border-color: #1c7430;
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
      }
    }
  }
  &-danger {
    color: $white;
    background-color: $bg-danger;
    border-color: $bg-danger;
    &:hover {
      color: $white;
      background-color: $bg-danger-hover;
      border-color: #bd2130;
    }

    &:focus, &.focus {
      box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
    }
    &.disabled,
    &:disabled {
      color: $white;
      background-color: $bg-danger;
      border-color: $bg-danger;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: $white;
      background-color: $bg-danger-active;
      border-color: #b21f2d;
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
      }
    }
  }
  &-warning {
    color: $white;
    background-color: $bg-warning;
    border-color: $bg-warning;

    &:hover {
      color: $white;
      background-color: $bg-warning-hover;
      border-color:  $bg-warning-hover;
    }
    &:focus, &.focus {
      box-shadow: none;
    }
    &.disabled,
    &:disabled {
      color: $white;
      background-color: $bg-warning;
      border-color: $bg-warning;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: $white;
      background-color: $bg-warning-active;
      border-color: $bg-warning-active;
      &:focus {
        box-shadow: none;
      }
    }
  }

}
a{
  &.btn {
      text-decoration: none;
    &-link {
      &:hover {
        text-decoration: underline;
      }
      &.disabled,
      &:disabled {
        text-decoration: none;
      }
      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active {
        text-decoration: underline;
        &:focus {
          text-decoration: underline;
        }
      }
    }

  }
}

a.btn.disabled{
  pointer-events: none;
}

