.header {
  &-home {
    padding-bottom: 40px;
    position: relative;
    overflow-x: hidden;
    @media (max-width: 1024px) {
      padding-bottom: 92px;
    }
    &:after, &:before {
      content: '';
      display: block;
      bottom: 0;
      position: absolute;
      background-repeat: no-repeat;

    }
    &:after {
      background-image: url("#{$imgpath}header-image-left.svg");
      width: 279px;
      height: 128px;
      left: 50%;
      transform: translateX(-(279+153px));
      @media (max-width: 1024px) {
        width: 235px;
        height: 109px;
        transform: translateX(-(10+235px));
      }


    }
    &:before {
      background-image: url("#{$imgpath}header-image-right.svg");
      width: 220px;
      height: 120px;
      right: 50%;
      transform: translateX((220+205px));
      @media (max-width: 1024px) {
        height: 107px;
        width: 220px;
        transform: translateX((220+30px));
      }
    }
    &-title {
      font-family: $rufina;
      font-weight: 700;
      color: $text-black;
      font-size: 55px;
      line-height: 68px;
      margin-top: 39px;
      margin-bottom: 19px;
      @media (max-width: 1024px) {
        font-size: 34px;
        line-height: 42px;
        margin-bottom: 21px;
        margin-top: 36px;
      }
    }
    &-sub-title {
      font-size: 19px;
      line-height: 26px;
      margin-bottom: 29px;
      @media (max-width: 1024px) {
        br {
          display: none;
        }
      }

    }
    &-btn {
      margin-bottom: 48px;
      @media (max-width: 1024px) {
        padding-bottom: 38px;
      }
      &-arrow {
        display: flex;
        flex-direction: column;
        width: 25px;
        height: 39px;
        animation: arrowDown 2s infinite;
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        span {
          border-top: 1px solid $text-black;
          border-right: 1px solid  $text-black;
          transform: rotate(135deg);
          width: 10px;
          height: 10px;
          display: block;
          &:nth-child(2) {
            animation-delay: -0.2s;
            border-color: $text-black;
          }
        }
        &:hover {
          span {
            border-color: $text-green;
          }
        }

      }
    }
  }
}
@keyframes arrowDown {
  0%{
    opacity: 0;
    transform:  translate(0,-10px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translate(0,10px);
  }
}