.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &-login-btn {
    background-image: url("#{$imgpath}login.svg");
  }
  &-mob-menu {
    background-image: url("#{$imgpath}icon-mob-menu.svg");
    width: 20px;
    height: 14px;
    &-close {
      background-image: url("#{$imgpath}icon-mob-menu-close.svg");
      width: 16px;
      height: 16px;
    }
  }
  &-arrow {
    &-right, &-left, &-down, &-up  {
      width: 10px;
      height: 10px;
      display: inline-block;
    }
    &-right {
      border-top: 1px solid $text-black;
      border-right: 1px solid $text-black;
      transform: rotate(45deg);
      &-two {
        background-image: url("#{$imgpath}right-arrow.svg");
        display: inline-block;
        width: 20px;
        height: 20px;
      }
    }
    &-left {
      border-top: 1px solid $text-black;
      border-left: 1px solid $text-black;
      transform: rotate(-45deg);

    }
    &-down {
      border-top: 1px solid $text-black;
      border-right: 1px solid $text-black;
      transform: rotate(135deg);
    }
    &-up {
      border-top: 1px solid $text-black;
      border-right: 1px solid $text-black;
      transform: rotate(-45deg);
    }

  }
  &-walmart {
    background-image: url("#{$imgpath}walmart.svg");
    width: 141px;
    height: 34px;
  }
  &-google {
    background-image: url("#{$imgpath}google.svg");
    width:  115.72px;
    height:37.89px;

  }
  &-bbc {
    background-image: url("#{$imgpath}bbc-2.svg");
    width:  89px;
    height: 27px;

  }
  &-fedex {
    background-image: url("#{$imgpath}fedex-freight-5.svg");
    width:  100px;
    height: 36px;

  }
  &-amazon {
    background-image: url("#{$imgpath}amazon.svg");
    width:  105px;
    height: 32px;

  }
  &-emirates {
    background-image: url("#{$imgpath}fly-emirates.svg");
    width:  115px;
    height: 52px;

  }
  &-list {
    background-image: url("#{$imgpath}profWr.svg");
  }
  &-approval {
    background-image: url("#{$imgpath}ats.svg");
  }
  &-guarantee {
    background-image: url("#{$imgpath}guarantee.svg");
  }
  &-upload {
    background-image: url("#{$imgpath}upload.svg");
  }
  &-open-envelope {
    background-image: url("#{$imgpath}open-envelope-with-letter.svg");
    width: 94.12px;
    height: 94.12px;
  }
  &-contact-pen {
    background-image: url("#{$imgpath}contract-with-pen.svg");
    width: 92.05px;
    height: 104.46px;
  }
  &-linkedin-letters {
    background-image: url("#{$imgpath}icon-linkedin-letters.svg");
    width: 62.43px;
    height: 62.06px;
  }
  &-resume {
    background-image: url("#{$imgpath}getstarted.svg");
  }
  &-curriculum {
    background-image: url("#{$imgpath}get_your_res.svg");
  }
  &-punctuality {
    background-image: url("#{$imgpath}check_progress.svg");
  }
  &-rating {
    background-image: url("#{$imgpath}five-star.svg");
  }
  &-verified {
    background-image: url("#{$imgpath}icon-verified.svg");
  }
  &-facebook {
    background-image: url("#{$imgpath}facebook-5.svg");
  }
  &-sitejabber {
    background-image: url("#{$imgpath}sitejabber.svg");
  }
  &-trustpilot {
    background-image: url("#{$imgpath}trustpilot.svg");
  }
  &-logo-footer {
    background-image: url("#{$imgpath}logo_2.svg");
  }
  &-pays {
    background-image: url("#{$imgpath}icon-pays.svg");
  }
  &-facebook-logo {
    background-image: url("#{$imgpath}facebook-logo.svg");
  }
  &-instagram {
    background-image: url("#{$imgpath}instagram.svg");
  }
  &-linkedin {
    background-image: url("#{$imgpath}linkedin2.svg");
  }

}


