.uploadyour {
  background: #F0F6FB;
  padding-top: 60px;
  padding-bottom: 65px;
  overflow: hidden;
  @media (max-width: 1024px) {
    padding-top: 40px;
    padding-bottom: 0;
  }
  &-title {
    font-size: 28px;
    line-height: 36px;
    color: $text-black;
    max-width: 287px;
    width: 100%;
    margin: 29px auto 17px;
    font-weight: 700;
    @media (max-width: 1024px) {
      margin-top: 37px;
    }
  }
  &-row {
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }
  }
  &-format {
    line-height: 26px;
    color: $text-black;
    @media (max-width: 1024px) {
      margin-bottom: 64px;
    }
  }

  &-left {
    width: 100%;
    max-width: 515px;
    flex-shrink: 0;
    position: relative;
    @media (max-width: 1024px) {
      max-width: 375px;
      margin: 0 auto;
    }
    &-upload{
      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 163px;
        height: 163px;
        border-radius: 50%;
        background: #FFFFFF;
        border: 1px solid #1AAECB;
        box-shadow: 0px 0px 25px rgba(26, 174, 203, 0.5);
        position: relative;
        margin: 0 auto 19px;
      }
      &-input {
        display: none;
      }
      &-label {
        background: $white;
        width: 121px;
        height: 121px;
        display: flex;
        border-radius: 50%;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease-in-out;
        &:hover, &:focus {
          background: rgba(26, 174, 203, 0.13);
        }
        .icon {
          display: flex;
          flex-shrink: 0;
          width: 109px;
          height: 109px;
          background-color: #FFFFFF;
          border: 1px dashed #1AAECB;
          cursor: pointer;
          border-radius: 50%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 57px;

        }

      }
    }
    &:before {
      content: '';
      position: absolute;
      top: -60px;
      left: 0;
      width: 653px;
      height: 567px;
      background-size: cover;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url("#{$imgpath}paper-brand.png");
      @media (max-width: 1024px) {
        width: 561px;
        height: 487px;
        left: 50%;
        top: -23px;
        transform: translateX(-50%);
        margin-left: 58px;
      }
    }
  }

  &-right {
    width: 100%;
    padding: 0 15px;
    @media (max-width: 1024px) {
      padding: 0;
    }
    &-title {
      font-size: 21px;
      line-height: 26px;
      color: $text-black;
      margin-bottom: 23px;
      @media (max-width: 1024px) {
        font-size: 19px ;
        margin-bottom: 13px;
      }
    }
    p {
      margin-bottom: 21px;
      @media (max-width: 1024px) {
        margin-bottom: 13px;
      }
    }
    ul {
      padding: 0;
      margin: 0 0 24px 0;
      li {
        padding: 8px 0 8px 30px;
        position: relative;
        line-height: 26px;
        color: $text-black;
        &:before {
          content: '';
          position: absolute;
          top: 8px;
          left: 0;
          width: 26px;
          height: 26px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url('#{$imgpath}plus.svg');
        }
        &:not(:last-child) {
          border-bottom: 1px solid rgba(209, 17, 17, 0.1);
        }
      }
    }
  }
  .badge {
    padding: 11px 11px 14px 45px;
    line-height: 23px;
    border-radius: 8px;
    color: $text-black;
    position: relative;
    margin: 0 -15px;
    @media (max-width: 1024px) {
      margin: 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 13px;
      left: 16px;
      width: 19px;
      height: 19px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &-success {
      background: #EEFBEC;
      border: 1px solid rgba(106, 194, 89, 0.49);
      &:before {
        background-image: url("#{$imgpath}checked.svg");
      }
    }
  }

}