$white: #fff;
$black: #000;
$bg-link: transparent;
$bg-link-hover: transparent;
$bg-primary: #007bff;
$bg-primary-hover: #0069d9;
$bg-primary-active: #0062cc;
$bg-secondary: #6c757d;
$bg-secondary-hover: #5a6268;
$bg-secondary-active: #545b62;
$bg-success: #28a745;
$bg-success-hover: #218838;
$bg-success-active: #1e7e34;
$bg-danger: #dc3545;
$bg-danger-hover: #c82333;
$bg-danger-active: #bd2130;
$bg-warning: #ffc107;
$bg-warning-hover: #e0a800;
$bg-warning-active: #d39e00;
