language: node_js
node_js:
  - "8"
script:
  - echo "Deploy!!"
install:
  - npm install -g firebase-tools
  - npm install
  - npm run build
after_success:
  - firebase deploy --project theresume-the --token $FIREBASE_TOKEN
