<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume</title>

    <!--    в index.php удалить и добавить -->
    <link rel="stylesheet" href="/build/css/main_critical.css">
    <!--    <style> <?=file_get_contents(__DIR__ . "/../web/build/home_critical.css"); ?> </style>-->
</head>
<body>

<div class="menu hidden">
    <ul class="menu-list">
        <li class="menu-list-title">Menu</li>
        <li class="menu-list-item">
            <button type="button" id="sub-menu-btn">Our services
                <i class="icon icon-arrow-right"></i></button>
            <span class="wrapper-sub-menu">
                      <ul class="menu-list-sub">
                    <li class="menu-list-sub-title"><button type="button" id="sub-menu-btn-back"><i
                            class="icon icon-arrow-left"></i>Back</button></li>
                    <li class="menu-list-sub-item"><a href="/resume_writing">Resume Writing<i
                            class="icon icon-arrow-right"></i></a></li>
                    <li class="menu-list-sub-item"><a href="/cv_writing">CV Writing<i class="icon icon-arrow-right"></i></a></li>
                    <li class="menu-list-sub-item"><a href="/cover_letter">Cover Letter<i
                            class="icon icon-arrow-right"></i></a></li>
                    <li class="menu-list-sub-item"><a href="/writing_linkedin">Writing Linkedin<i
                            class="icon icon-arrow-right"></i></a></li>
                    <li class="menu-list-sub-item"><a href="/writing_our">Writing Our<i
                            class="icon icon-arrow-right"></i></a></li>
                    <li class="menu-list-sub-item"><a href="/packages">Packages<i class="icon icon-arrow-right"></i></a></li>
                     </ul>
                </span>
        </li>
        <li class="menu-list-item"><a href="/resume_examples">Resume Examples
            <i class="icon icon-arrow-right"></i></a></li>
        <li class="menu-list-item"><a href="/blog">Blog<i class="icon icon-arrow-right"></i></a></li>
    </ul>
</div>
<div class="main-wrapper">
    <%= _.template(require('./mockup/nav.html'))(data) %>
    <header>
        <div class="header-home">
            <div class="container text-center">
                <div class="header-home-title">
                    Professional Resume <br> Writing Services
                </div>
                <div class="header-home-sub-title">
                    Thanks to our professional resume writing services online, you will never <br> have to worry about how to draft your resume.
                </div>
                <a href="/order" class="btn btn-primary header-home-btn btn-lg">Get Started Now <i class="icon icon-arrow-right-two"></i></a>
                <button type="button" class="header-home-btn-arrow"><span></span><span></span></button>
            </div>
        </div>
    </header>
    <main>
        <div class="brands">
            <div class="container text-center">
                <div class="brands-title">
                    Our writers helped candidates secure positions in
                </div>
            </div>
            <div class="brands-list clearfix" id="sliderBrands">

                <i class="icon icon-walmart"></i>


                <i class="icon icon-google"></i>


                <i class="icon icon-bbc"></i>


                <i class="icon icon-fedex"></i>


                <i class="icon icon-amazon"></i>


                <i class="icon icon-emirates"></i>

            </div>
        </div>
    </main>
    <%= _.template(require('./mockup/footer.html'))(data) %>
</div>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
</body>
</html>